.home_page{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

/* PAGINATION */

.container .pagionation_box{
    margin-top: 50px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .pagionation_box .pagination_main{
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .pagination_main .pagination_dot{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.pagination_main img:hover{
    cursor: pointer;
}

.container .pagination_dot .dot{
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container .pagination_dot .dot.active{
    border: 2px solid #112137;
}

.container .pagination_dot .dot div{
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}

/* <!-- Header Frame --> */
.header_frame{
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

.header_frame .container{
    flex-direction: row;
    /* height: 200px; */
    /* background-color: red; */
}

.header_frame .container .header_left{
    position: relative;
    width: 875px;
    height: 508px;
    border-radius: 8px;
    
    background-color: rgba(0, 83, 246, 1);
    background-image: url(../images/icons/header_bg.svg);
}

.header_frame .header_left .header_content{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.header_frame .header_content div{
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: rgba(245, 195, 75, 1);

    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.header_frame .header_content span{
    margin-top: 10px;
    width: 428px;

    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: left;
}

.header_frame .header_content p{
    margin-top: 10px;

    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.header_frame .header_content a{
    margin-top: 20px;
    width: 140px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 6px;
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.header_frame .header_content img{
    position: absolute;
    right: 10px;
    top: 75px;
}

.header_frame .container .header_right{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_frame .header_right .header_box{
    margin-left: 26px;
    width: 422px;
    height: 240px;

    display: flex;
    flex-direction: row;
    background: rgba(242, 242, 242, 1);
    border-radius: 6px;
}

.header_frame .header_right .box_left{
    margin-left: 30px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_frame .box_left span{
    color: rgba(0, 83, 246, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.header_frame .box_left p{
    margin: 10px 0;

    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: Medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.header_frame .box_left a{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.header_frame .box_left .hover_border{
    margin-top: 3px;
    width: 32px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}

.header_frame .header_box .box_right{
    width: 50%;
}

.header_frame .box_right img{
    width: 100%;
    height: 100%;
}

.header_frame .header_right .header_box2{
    margin-left: 26px;
    width: 422px;
    height: 240px;

    display: flex;
    flex-direction: row;
    background: rgba(242, 242, 242, 1);
    border-radius: 6px;
}

.header_frame .header_box2 .hover_border{
    margin-top: 3px;
    width: 127px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}

/* <!-- Service Frame --> */

.home_page .service_frame{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;

    display: flex;
    justify-content: center;
}

.service_frame .container{
    flex-direction: row;
}

.service_frame .container .service_box{
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid rgba(234, 234, 234, 1);;
}

.service_frame .service_box img{
    width: 35px;
    height: 35px;
}

.service_frame .service_box .service_content{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service_frame .service_content span{
    color: #041e42;

    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

}

.service_frame .service_content p{
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

/* <!-- Shop categpry--> */

.shop_category_frame{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_category_frame .container{
    flex-direction: column;
}

.container .category_top{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .category_top span{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.container .category_top a{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.container .category_top a:hover{
    border-bottom: 2px solid rgba(4, 30, 66, 1);;
}

.shop_category_frame .container .category_wrapper{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box{
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shop_category_frame .category_box .category_img_box{
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #eaeaea;
    border-radius: 150px;
}

.shop_category_frame .category_box span{
    margin-top: 15px;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    text-align: center;
}

/* <!-- Selling Product --> */

.selling_product_frame{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_product_frame .container{
    flex-direction: column;
}

.selling_product_frame .container .product_wrapper{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selling_product_frame .product_wrapper .next_prev_box{
    width: 25px;
}

.selling_product_frame .next_prev_box img{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.selling_product_frame .product_wrapper .product_boxes{
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.selling_product_frame .product_boxes .product_box{
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.selling_product_frame .product_box .product_img_box{
    width: 100%;
    height: 280px;
}

.selling_product_frame .product_img_box .hover_box{
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.selling_product_frame .hover_box button{
    margin-bottom: 10px;
    width: 260px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;

    border-radius: 6px;
    box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
    background: rgba(0, 83, 246, 1);

    color: rgba(255, 255, 255, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.selling_product_frame .product_img_box:hover .hover_box{
    display: flex;
}

.selling_product_frame .product_box .product_content_box{
    padding: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.selling_product_frame .product_content_box .profuct_title{
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc{
    color: rgba(4, 30, 66, 1);
    margin-top: 7px;
    height: 56px;
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    overflow: hidden;
}

.selling_product_frame .product_content_box .review_box{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selling_product_frame .review_box img{
    margin-left: 5px;
}

.selling_product_frame .review_box span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.selling_product_frame .product_content_box .price_box{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selling_product_frame .product_box strong{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.selling_product_frame .price_box span{
    color: rgba(98, 105, 116, 1);
    margin-left: 10px;
    font-family: "Jost";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}


.home_page .adv_frame{
    margin-top: 90px;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5edff;

    color: rgba(0, 83, 246, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 18px; 
    font-weight: 500;
    line-height: 26px;
}

/* <!-- Headphones Section --> */

.home_page .headphones_frame{
    margin-top: 90px;
    width: 100%;
    height: 445px;
    
    display: flex;
    justify-content: center;
}

.headphones_frame .container{
    flex-direction: column;
}

.headphones_frame .container .headphones-top{
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headphones_frame .headphones-top span{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.headphones_frame .headphones-top a{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.container .headphones-top a:hover{
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.headphones_frame .container .headphones-wrapper{
    margin-top: 35px;
    width: 100%;
    height: 370px;

    display: flex;
    flex-direction: row;
}

.headphones_frame .headphones-wrapper .box-left{
    width: 660px;
    height: 370px;

    border-radius: 6px;
    background: rgba(243, 245, 246, 1);

    display: flex;
    flex-direction: row;
}

.headphones_frame .box-left .content-box{
    margin-left: 45px;
    width: 161px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.headphones_frame .content-box span{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.headphones_frame .content-box p{
    margin: 10px 0;
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
}

.headphones_frame .content-box a{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.headphones_frame .headphones-wrapper .image-box{
    margin-left: 90px;
    margin-top: 30px;
    width: 322px;
    height: auto;
}

.headphones_frame .headphones-wrapper .box-right{
    width: 618px;
    height: auto;
    margin-left: 32px;
}

.headphones_frame .box-right .right-top{
    width: 100%;
    height: 170px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headphones_frame .box-right .top-box{
    width: 293px;
    height: auto;

    display: flex;
    flex-direction: row;

    border-radius: 6px;
    background: rgba(243, 245, 246, 1);
}

.headphones_frame .top-box .items-text{
    margin-left: 35px;
    margin-top: 30px;
    width: 73px;
    height: 51px;

    display: flex;
    flex-direction: column;
}

.headphones_frame .items-text span{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    display: flex;
    flex-direction: row;
}

.headphones_frame .items-text p{
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.headphones_frame .top-box .items-image{
    width: 85.6px;
    height: 107px;
    margin-left: 68px;
    margin-top: 39px;
}

.headphones_frame .top-box .items-image-on-ear{
    width: 99.67px;
    height: 103px;
    margin-left: 60px;
    margin-top: 39px;
}

.headphones_frame .box-right .right-butt{
    margin-top: 28px;
    width: 100%;
    height: 170px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headphones_frame .right-butt .top-box-butt{
    position: relative;
    width: 293px;
    height: auto;

    display: flex;
    flex-direction: row;

    border-radius: 6px;
    background: rgba(243, 245, 246, 1);
}

.headphones_frame .right-butt .top-box-butt .items-text-butt{
    margin-left: 35px;
    margin-top: 30px;
    width: 133.67px;
    height: 51px;

    display: flex;
    flex-direction: column;
}

.headphones_frame .top-box-butt .items-text-butt-blue{
    margin-left: 35px;
    margin-top: 30px;
    width: 188.78px;
    height: 51px;

    display: flex;
    flex-direction: column;
}

.headphones_frame .items-text-butt span{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    display: flex;
    flex-direction: row;
}

.headphones_frame .items-text-butt p{
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.headphones_frame .items-text-butt-blue span{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    display: flex;
    flex-direction: row;
}

.headphones_frame .items-text-butt-blue p{
    color: rgba(98, 105, 116, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.headphones_frame .top-box-butt .items-image-fitness{
    position: absolute;
    width: 146.57px;
    height: 67px;
    margin-top: 88px;
    margin-left: 125px;
}

.headphones_frame .top-box-butt .items-image-blue{
    position: absolute;
    width: 130px;
    height: 72px;
    margin-top: 81px;
    margin-left: 140px;
}

/* TV section */

.home_page .tv_frame{
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tv_frame .container{
    flex-direction: column;
}

.tv_frame .container .tv_top{
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tv_frame .container .tv_top div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv_frame .tv_top span{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.tv_frame .tv_top a{
    color: rgba(4, 30, 66, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

    margin-left: 30px;
}

.tv_frame .tv_top a:hover{
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.tv_frame .container .tv_wrapper{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.tv_frame .tv_wrapper .tv_box{
    width: 260px;
    height: auto;
    
    display: flex;
    flex-direction: column;
}

.tv_frame .tv_box .tv_image{
    width: 250px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tv_frame .tv_context .profuct_title{
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.tv_frame .tv_context .product_desc{
    color: rgba(4, 30, 66, 1);
    margin-top: 7px;
    height: 56px;
    font-family: "Jost";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    overflow: hidden;
}

.tv_frame .tv_context .review_box{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv_frame .tv_context .review_box img{
    margin-left: 5px;
}

.tv_frame .tv_context .review_box span{
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

    font-family: "Jost";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.tv_frame .tv_context .price_box{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tv_frame .tv_context .price_box strong{
    color: rgba(4, 30, 66, 1);
    font-family: "Jost";
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.tv_frame .tv_context .price_box span{
    color: rgba(98, 105, 116, 1);
    margin-left: 10px;
    font-family: "Jost";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;
}

.tv_frame .tv_wrapper .next_prev_box{
    width: 25px;
}

.tv_frame .tv_wrapper .next_prev_box img{
    position: absolute;
    top: 50%;
    cursor: pointer;
}


